<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Statuses</h1>
    <a href="/status/add">Create New Status</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Status ID</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="status : ${statuses}">
            <td th:text="${status.id}">Status ID</td>
            <td th:text="${status.title}">Title</td>
            <td>
                <a th:href="@{'/edit/' + ${status.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${status.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
