<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Product</title>
</head>
<body>
<div align="center">
    <h1>Add New Character</h1>
    <br/>
    <form action="#" th:action="@{/character/save}" th:object="${character}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{title}"/></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input type="text" th:field="*{payment}"/></td>
            </tr>
            <tr>
                <td>Room</td>
                <td>
                    <select th:field="*{room}">
                        <option th:each="room : ${rooms}"
                                th:value="${room.id}"
                                th:text="${room.title}">
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
