<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Characters</h1>
    <a href="/character/add">Add New Character</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Character ID</th>
            <th>Title</th>
            <th>Payment</th>
            <th>Room</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="character : ${characters}">
            <td th:text="${character.id}">Character ID</td>
            <td th:text="${character.title}">Title</td>
            <td th:text="${character.payment}">Payment</td>
            <td th:text="${character.room.title}">Room</td>
            <td>
                <a th:href="@{'/edit/' + ${character.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${character.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
