<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Product</title>
</head>
<body>
<div align="center">
    <h1>Add New Client</h1>
    <br/>
    <form action="#" th:action="@{/client/save}" th:object="${client}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input type="text" th:field="*{surname}"/></td>
            </tr>

            <tr>
                <td>Email:</td>
                <td><input type="email" th:field="*{email}"/></td>
            </tr>

            <tr>
                <td>Birthday Date:</td>
                <td><input type="date" th:field="*{birthDate}"/></td>
            </tr>

            <tr>
                <td>Find Out Method:</td>
                <td>
                    <select th:field="*{findOutMethod}">
                        <option th:each="foMethod : ${foMethods}"
                                th:value="${foMethod.id}"
                                th:text="${foMethod.title}">
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
