<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Rooms</h1>
    <a href="/room/add">Add New Room</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Room ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Max Person</th>
            <th>Min Age</th>
            <th>Actors Count</th>
            <th>Duration</th>
            <th>Type</th>
            <th>Subject</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.id}">Room ID</td>
            <td th:text="${room.title}">Title</td>
            <td th:text="${room.price}">Price</td>
            <td th:text="${room.maxPerson}">Max Person</td>
            <td th:text="${room.minAge}">Min Age</td>
            <td th:text="${room.actorCount}">Actor Count</td>
            <td th:text="|${room.duration} min|">Duration</td>
            <td th:text="${room.type.title}">Type</td>
            <td th:text="${room.subject.title}">Subject</td>
            <td>
                <a th:href="@{'/edit/' + ${room.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${room.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
